header {
    display: flex;
    height: 60px;

    justify-content: space-between;
    align-items: center;

    padding: 0 20px;

    background-color: #142c48;
    color: #fff;

    position: relative;
}

header div.title {
    display: flex;
    align-items: center;

    column-gap: 10px;
}

header div.title button {
    min-width: 0;
}

header div.title button > img {
    width: 25px;
}

header div.title button {
    background-color: transparent;
    display: flex;
    align-items: center;
}

header h1 {
    font-size: 1.4rem;
}

header a {
    cursor: pointer;
}

header a:hover {
    text-decoration: underline;
}

.user-info {
    color: #555;
    background-color: #fff;

    display: flex;
    align-items: center;
    column-gap: 25px;
    
    position: absolute;
    right: 10px;
    top: 110%;

    padding: 15px;
    border-radius: 5px;
    min-width: 20rem;

    box-shadow: 0px 2px 4px #aaa;
}

.user-info p {
    font-size: 15px;
}

.user-info > img {
    height: 80px;
    width: 80px;

    border-radius: 50%;

    object-fit: cover;
}

.user-info button {
    width: 60px;
    height: 25px;
    border-radius: 5px;

    background-color: #3265a0;
    color: #fff;
}

.username {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.username img {
    margin-top: 3px;
    height: 20px;
}

nav {
    display: flex;
    flex-direction: column;
    width: 13rem;
    height: calc(100vh - 60px);
    background-color: #f0f0f0;

    transition: 300ms;
}

nav.hide {
    width: 0;
    overflow: hidden;
}

nav > div {
    display: flex;
    flex-direction: row;

    align-items: center;
    font-weight: 500;

    height: 45px;
    width: 100%;
    padding: 0 15px;

    border-left: 4px solid transparent;

    cursor: pointer;
}

nav > div.selected {
    border-left: 4px solid #3265a0;
    color: #3265a0;

    background-color: #c9c9c9;

}

.main-container {
    display: flex;
    flex-direction: row;
}

.main-container main {
    padding: 0 15px;
    padding-bottom: 15px;

    width: 100%;

    height: calc(100vh - 60px);
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    height: 40px;

    border-bottom: 1px solid #ddd;
}

th {
    text-align: left;
}

tbody > tr {
    cursor: pointer;

    transition: background-color 200ms;
}

tbody > tr:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.tab-header {
    display: flex;
    align-items: center;

    justify-content: space-between;
}

.tab-header input {
    height: 28px;

    border-radius: 5px;
    border: 1px solid #888;

    padding: 0 5px;
}

.tab-header button {
    border-radius: 5px;
    height: 28px;
    min-width: 5rem;

    background-color: #3265a0;
    color: #fff;

    margin: 0 5px;
}

.mask {
    position: fixed;
    width: 100vw;
    height: 100vh;

    left: 0;
    top: 0;

    background-color: rgba(0, 0, 0, 0.3);
    animation: fadein 300ms backwards;
}

.action-btn {
    background: none;
    border-radius: 50%;
    max-width: 25px;
}

.action-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.action-btn img {
    width: 20px;
}

#cliente-details {
    position: fixed;

    top: 10%;
    left: calc(50% - 25rem);

    width: 50rem;

    border-radius: 2px;

    background-color: #fff;
    box-shadow: 0px 2px 4px #555;

    display: flex;
    flex-direction: column;
    padding: 2rem;

    animation: fadein 300ms backwards;
}

#cliente-details > form {
    display: flex;
    flex-direction: column;

    row-gap: 5px;
}

#cliente-details > form input, select {
    height: 35px;
    width: 100%;
}

#cliente-details form > div {
    display: flex;
    flex-direction: row;
    width: 100%;
    column-gap: 5px;
}

#cliente-details form .phone {
    width: 15rem;
}

.btn-container {
    width: 100%;
    display: flex;
    margin-top: 20px;

    justify-content: flex-end;
    column-gap: 10px;
}

.btn-container .save-btn {
    background-color: #1f72d1;
    color: #fff;
}


@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*=============Ordens de Servico===============*/

button.text-btn {
    height: 32px;
    padding: 0 15px;

    background-color: transparent;
    color: #1f72d1;

    text-transform: uppercase;
    border-radius: 3px;

    font-weight: 500;
    font-size: 15px;
}

button.text-btn:hover {
    background-color: #f0f0f0;
    filter: none;
}

.inline-itens {
    display: flex;
    align-items: center;

    column-gap: 15px;
}

.item-ordem {
    display: flex;
    column-gap: 15px;
    align-items: center;
    margin: 5px 0;
}

.item-ordem input {
    flex-grow: 1;
    max-width: 50rem;
}

.item-ordem select {
    width: 20rem;
    height: 32px;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.ordem-header {
    display: grid;
    grid-template-columns: 20% 70% 10%;
    gap: 5px;

    align-items: end;

    max-width: 50rem;
}

.observacoes {
    grid-column-start: 1;
    grid-column-end: 3;
}

.input-label {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}

label {
    font-size: 14px;
}

.ordem-save-btn {
    margin: 15px 0;
    width: 10rem;

    background-color: transparent;
    color: #1f72d1;

    border: 3px solid #1f72d1;
}

.ordem-save-btn:disabled {
    color: #888;
    border-color: #888;
    background-color: #fff;
}