* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    font-family: 'Lato', sans-serif;

}

button {
    border: 0;
    cursor: pointer;

    height: 25px;
    border-radius: 2px;
    min-width: 60px;
}

button:hover {
    filter: brightness(80%);
}

button:disabled {
    background-color: #AAA;
}