<div class="app-container">
    <header>
        <div class="title">
            <button ng-click="vm.toggleMenu()">
                <img src="http://localhost:9000/assets/menu.svg" alt="Menu">
            </button>
            <h1>Manutenção</h1>
        </div>
        
        <div class="username" ng-click="vm.toggleUserInfo()">
            <a>
                {{vm.user.nomeCompleto}}
            </a>
            <img src="http://localhost:9000/assets/arrow-down.svg" alt="">
        </div>

        <div ng-show="vm.showUserInfo" class="user-info">
            <img src="http://localhost:9000/assets/user-default.png" alt="">
            <div>
                <p><strong>Usuário:</strong> {{vm.user.username}}</p>
                <p><strong>Nome:</strong> {{vm.user.nomeCompleto}}</p>
                <p><strong>Nível de acesso:</strong> {{vm.user.tipoFuncionario}}</p>
                <button ng-click="vm.logout()">Sair</button>
            </div>
        </div>
    </header>

    <div class="main-container">
        <nav ng-class="{'hide': !vm.showMenu}" >
            <div ng-repeat="menu in vm.menus"
                ng-class="{'selected': vm.activeTab === menu.tab}"
                ng-click="vm.changeTab(menu.tab)"
            >
                <p>{{menu.name}}</p>
            </div>
        </nav>

        <main ng-switch on="vm.activeTab">
            <clientes-tab ng-switch-when="clientes"></clientes-tab>
            <ordem-tab ng-switch-when="ordens"></ordem-tab>
        </main>
    </div>
</div>