<div>
    <div class="tab-header">
        <div class="inline-itens">
            <h2>Clientes</h2>
            <button
                ng-hide="vm.showNovaOrdem"
                ng-click="vm.loadData()"
                class="icon-btn"
            >
                <img src="http://localhost:9000/assets/refresh.svg" alt="Atualizar" />
            </button>
        </div>
        <div class="inline-itens">
            <button ng-click="vm.adicionarCliente()">Adicionar</button>
            <input type="text" placeholder="Pesquisa" ng-model="search" />
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Tipo</th>
                <th>CPF/CNPJ</th>
                <th>Telefones</th>
                <th></th>
            </tr>
        </thead>

        <tbody ng-repeat="cliente in vm.clientes | filter: search">
            <tr ng-click="vm.editarCliente(cliente)">
                <td>{{cliente.id}}</td>
                <td>{{cliente.nome}}</td>
                <td>{{cliente.email}}</td>
                <td>{{cliente.tipoCliente}}</td>
                <td>{{cliente.cpf_cnpj}}</td>
                <td>{{cliente.telefones.join(", ")}}</td>
            </tr>
        </tbody>
    </table>

    <div class="mask" ng-if="vm.showDetails">
        <div id="cliente-details">
            <h3>Cliente</h3>
            <form>
                <input type="text" placeholder="Nome" ng-model="vm.cliente.nome" />

                <div>
                    <input
                        type="text"
                        placeholder="E-mail"
                        ng-model="vm.cliente.email"
                    />
                    <select
                        ng-model="vm.cliente.tipoCliente"
                        ng-options="tipo.value as tipo.desc for tipo in vm.tipoClientes"
                    >
                        <option value="">Selecione</option>
                    </select>

                    <input
                        type="text"
                        placeholder="CPF/CNPJ"
                        ng-model="vm.cliente.cpf_cnpj"
                    />
                </div>
                <p>Telefones</p>
                <div ng-repeat="telefone in vm.cliente.telefones">
                    <input
                        class="phone"
                        type="tel"
                        placeholder="Telefone {{$index + 1}}"
                        ng-model="vm.cliente.telefones[$index]"
                    />
                </div>

                <p>Endereco</p>
                <div>
                    <input
                        type="text"
                        placeholder="Endereço"
                        ng-model="vm.cliente.endereco"
                    />
                    <input
                        type="text"
                        placeholder="Número"
                        ng-model="vm.cliente.numero"
                    />
                    <input
                        type="text"
                        placeholder="Bairro"
                        ng-model="vm.cliente.bairro"
                    />
                </div>
                <div>
                    <input
                        type="text"
                        placeholder="CEP"
                        ng-model="vm.cliente.cep"
                    />
                    <input
                        type="text"
                        placeholder="Complemento"
                        ng-model="vm.cliente.complemento"
                    />
                    <select
                        ng-model="vm.cliente.estado"
                        ng-options="estado.id as estado.sigla for estado in vm.estados"
                        ng-change="vm.loadCidades()"
                    >
                        <option value="">Selecione um estado</option>
                    </select>
                    <select
                        ng-model="vm.cliente.cidadeId"
                        ng-options="cidade.id as cidade.nome for cidade in vm.cidades"
                    >
                        <option value="">Selecione uma cidade</option>
                    </select>
                </div>
            </form>
            <div class="btn-container">
                <button ng-click="vm.cancel()">Fechar</button>
                <button ng-click="vm.salvarCliente(cliente)" class="save-btn">
                    Salvar
                </button>
            </div>
        </div>
    </div>
</div>
