<div class="app-container">
    <header>
        <div class="title">
            <button ng-click="toggleMenu()">
                <img src="assets/menu.svg" alt="Menu">
            </button>
            <h1>Manutenção</h1>
        </div>
        
        <div class="username" ng-click="toggleUserInfo()">
            <a>
                {{user.nomeCompleto}}
            </a>
            <img src="assets/arrow-down.svg" alt="">
        </div>

        <div ng-show="showUserInfo" class="user-info">
            <img src="assets/user-default.png" alt="">
            <div>
                <p><strong>Usuário:</strong> {{user.username}}</p>
                <p><strong>Nome:</strong> {{user.nomeCompleto}}</p>
                <p><strong>Nível de acesso:</strong> {{user.tipoFuncionario}}</p>
                <button ng-click="logout()">Sair</button>
            </div>
        </div>
    </header>

    <main>
        <nav ng-class="{'hide': !showMenu}">
            <div class="selected">
                <p>Clientes</p>
            </div>
        </nav>
    </main>
</div>