<div>
    <div class="tab-header">
        <h2>Clientes</h2>
        <div>
            <button ng-click="adicionarCliente()">Adicionar</button>
            <input type="text" placeholder="Pesquisa" ng-model="search" />
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Tipo</th>
                <th>CPF/CNPJ</th>
                <th>Telefones</th>
                <th></th>
            </tr>
        </thead>

        <tbody ng-repeat="cliente in clientes | filter: search">
            <tr ng-click="editarCliente(cliente)">
                <td>{{cliente.id}}</td>
                <td>{{cliente.nome}}</td>
                <td>{{cliente.email}}</td>
                <td>{{cliente.tipoCliente}}</td>
                <td>{{cliente.cpf_cnpj}}</td>
                <td>{{cliente.telefones.join(", ")}}</td>
            </tr>
        </tbody>
    </table>

    <div class="mask" ng-if="showDetails">
        <div id="cliente-details">
            <h3>Cliente</h3>
            <form>
                <input type="text" placeholder="Nome" ng-model="cliente.nome" />

                <div>
                    <input
                        type="text"
                        placeholder="E-mail"
                        ng-model="cliente.email"
                    />
                    <select
                        ng-model="cliente.tipoCliente"
                        ng-options="tipo.value as tipo.desc for tipo in tipoClientes"
                    >
                        <option value="">Selecione</option>
                    </select>

                    <input
                        type="text"
                        placeholder="CPF/CNPJ"
                        ng-model="cliente.cpf_cnpj"
                    />
                </div>
                <p>Telefones</p>
                <div ng-repeat="telefone in cliente.telefones">
                    <input
                        class="phone"
                        type="tel"
                        placeholder="Telefone {{$index + 1}}"
                        ng-model="cliente.telefones[$index]"
                    />
                </div>

                <p>Endereco</p>
                <div>
                    <input
                        type="text"
                        placeholder="Endereço"
                        ng-model="cliente.endereco"
                    />
                    <input
                        type="text"
                        placeholder="Número"
                        ng-model="cliente.numero"
                    />
                    <input
                        type="text"
                        placeholder="Bairro"
                        ng-model="cliente.bairro"
                    />
                </div>
                <div>
                    <input
                        type="text"
                        placeholder="CEP"
                        ng-model="cliente.cep"
                    />
                    <input
                        type="text"
                        placeholder="Complemento"
                        ng-model="cliente.complemento"
                    />
                    <select
                        ng-model="cliente.estado"
                        ng-options="estado.id as estado.sigla for estado in estados"
                        ng-change="loadCidades()"
                    >
                        <option value="">Selecione um estado</option>
                    </select>
                    <select
                        ng-model="cliente.cidadeId"
                        ng-options="cidade.id as cidade.nome for cidade in cidades"
                    >
                        <option value="">Selecione uma cidade</option>
                    </select>
                </div>
            </form>
            <div class="btn-container">
                <button ng-click="cancel()">Fechar</button>
                <button ng-click="salvarCliente(cliente)" class="save-btn">
                    Salvar
                </button>
            </div>
        </div>
    </div>
</div>
