<div class="ordem-container">
    <div class="tab-header">
        <h2>Ordens de Serviço</h2>
        <div>
            <button ng-click="adicionarOrdem()">
                {{!novaOrdem ? 'Adicionar' : 'Cancelar'}}
            </button>
            <input type="text" placeholder="Pesquisa" ng-model="search" />
        </div>
    </div>

    <div class="lista" ng-if="!novaOrdem">
        <div class="ordem-head">
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Cliente</th>
                        <th>Data de Inclusão</th>
                        <th>Status da Ordem</th>
                        <th>Data Encerrameno</th>
                        <th>Observações</th>
                        <th>Custo Total</th>
                    </tr>
                </thead>
    
                <tbody ng-repeat="ordem in ordens">
                    <tr ng-click="mostrarItens(ordem)">
                        <td>{{ ordem.id }}</td>
                        <td>{{ ordem.cliente.nome }}</td>
                        <td>{{ ::ordem.dataInclusao | date: 'dd/MM/yyyy' }}</td>
                        <td>{{ ordem.statusOrdem }}</td>
                        <td>{{ ::ordem.dataEncerramento| date: 'dd/MM/yyyy' }}</td>
                        <td>{{ ordem.observacoes }}</td>
                        <td>{{ ::ordem.custoTotal | currency }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-if="showItens" class="ordem-body">
            <h2>Itens</h2>
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Marca</th>
                        <th>Equipamento</th>
                        <th>Problema</th>
                    </tr>
                </thead>

                <tbody ng-repeat="item in ordem.itens">
                    <tr class="noborder">
                        <td class="number">{{ $index + 1 }}</td>
                        <td>{{ item.equipamento.marca }}</td>
                        <td>{{ item.equipamento.modelo }}</td>
                        <td>{{ item.problema }}</td>
                        <tr ng-if="item.avarias.length > 0">
                           <td colspan="4">
                               <h4>Avarias encontradas:</h4>
                               <div class="avaria">
                                    <div>
                                        <div class="number">#</div>
                                        <div class="desc"><strong>Descrição</strong></div>
                                        <div class="custo"><strong>Custo de Reparo</strong></div>
                                    </div>
                                    <div ng-repeat="avaria in item.avarias">
                                        <div class="number"><p>{{$index + 1}}</p></div>
                                        <div class="desc"><p>{{ avaria.descricao }}</p></div>
                                        <div class="custo"><p>{{ ::avaria.custoReparo | currency }}</p></div>
                                    </div>
                               </div>
                           </td> 
                        </tr>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="nova-ordem" ng-if="novaOrdem">
        <h3>Nova ordem</h3>

        <form>
            <div class="ordem-header">
                <div class="input-label">
                    <label for="clienteId">Id do Cliente:</label>
                    <input
                        type="number"
                        min="1"
                        ng-model="ordem.cliente.id"
                        id="clienteId"
                    />
                </div>
                <div class="input-label">
                    <label for="clienteNome">Nome do Cliente:</label>
                    <input
                        type="text"
                        ng-model="ordem.cliente.nome"
                        disabled
                        id="clienteNome"
                    />
                </div>
                <button
                    class="text-btn"
                    ng-click="buscarCliente(ordem.cliente.id)"
                >
                    Buscar
                </button>
                <div class="input-label observacoes">
                    <label for="observacoes">Observações:</label>
                    <input
                        class="observacoes"
                        type="text"
                        ng-model="ordem.observacoes"
                        id="observacoes"
                    />
                </div>
            </div>

            <div class="inline-itens">
                <h3>Itens</h3>
                <button class="text-btn" ng-click="addItem()">
                    + Adicionar Item
                </button>
                <button class="text-btn" ng-click="adicionarEquipamento()">
                    Novo Equipamento
                </button>
            </div>
            <div
                class="item-ordem inline-items"
                ng-repeat="item in ordem.itens"
            >
                <span>{{$index + 1}}.</span>
                <select
                    ng-model="ordem.itens[$index].equipamento"
                    ng-options="equipamento as (equipamento.marca + '-' + equipamento.modelo) for equipamento in ordem.cliente.equipamentos"
                >
                    <option value="">Selecione um equipamento</option>
                </select>
                <input
                    type="text"
                    placeholder="Problema"
                    ng-model="ordem.itens[$index].problema"
                />
                <button
                    class="text-btn"
                    style="color: #f88"
                    ng-click="removeItem($index)"
                >
                    Remover
                </button>
            </div>
            <button
                ng-disabled="!ordem.cliente.nome || ordem.itens.length === 0"
                class="ordem-save-btn"
                ng-click="salvarOrdem(ordem)"
            >
                Salvar
            </button>

            <div ng-if="novoEquipamento" class="mask">
                <div class="novo-equipamento">
                    <h3>Novo equipamento:</h3>
                    <form>
                        <h4>Cliente:</h4>
                        <div class="inline-itens">
                            <div class="input-label">
                                <label for="eq-clienteId">Id do Cliente</label>
                                <input type="text" ng-model="ordem.cliente.id" id="eq-clienteId" disabled>
                            </div>
                            <div class="input-label">
                                <label for="eq-clienteNome">Nome do Cliente</label>
                                <input type="text" ng-model="ordem.cliente.nome" id="eq-clienteNome" disabled>
                            </div>
                        </div>
                        <h4>Equipamento:</h4>
                        <div class="inline-itens">
                            <div class="input-label">
                                <label for="eq.tipo">Tipo</label>
                                <select id="eq.tipo" ng-model="equipamento.tipoEquipamento">
                                    <option value="IMPRESSORA">Impressora</option>
                                    <option value="COMPUTADOR">Computador</option>
                                </select>
                            </div>
                            <div class="input-label">
                                <label for="eq-marca">Marca</label>
                                <input type="text" ng-model="equipamento.marca" id="eq-marca">
                            </div>
                            <div class="input-label">
                                <label for="eq-modelo">Modelo</label>
                                <input type="text" ng-model="equipamento.modelo" id="eq-modelo">
                            </div>
                        </div>

                        <div class="btn-container">
                            <button class="text-btn" ng-click="cancelarNovoEquipamento()">Cancelar</button>
                            <button 
                                class="outline-btn"
                                ng-click="salvarNovoEquipamento(ordem.cliente, equipamento)"
                            >
                                Salvar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </form>
    </div>
</div>
